@model Alpaca.Web.CoreAlertTool.Models.ViewModel.V_AlertList

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

@{
    string nowStr = DateTime.Now.ToString("HH:mm:ss");
}
<font size="40px"><p id="nowTime" align="center">@nowStr</p></font>
@*再生確認用
    <button onclick="stop()">停止</button>
  <button onclick="play()" id="play">再生</button>*@
  <script language="javascript" type="text/javascript">
  var chime = new Audio();
  function init() {
    chime.preload = "auto";
    chime.src = "./chime.mp3";
    chime.load();
    chime.loop = false;
    chime.addEventListener("ended", function () {
      chime.currentTime = 0;
    }, false);
  }

  function play() {
    chime.play();
  }

  function stop() {
    chime.pause();
    chime.currentTime = 0;
  }

  init();
  </script>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AlertInfoList.FirstOrDefault().AlertTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AlertInfoList.FirstOrDefault().AlertName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AlertInfoList.FirstOrDefault().AlertType)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.AlertInfoList) {
        <tr id="@item.AlertId">
            <td id="@item.AlertTime" value="@item.AlertTime">
                @Html.DisplayFor(modelItem => item.AlertTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AlertName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model.AlertTypeList.Where(x => x.AlertTypeId == item.AlertType).FirstOrDefault().AlertTypeName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.AlertId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.AlertId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.AlertId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
<script>
        const setNowTime = () => {
        var now = new Date();
            var Hour = now.getHours();
            var Min = now.getMinutes();
            var Sec = now.getSeconds();
            if (Hour < 10) {
                Hour = "0" + Hour;
            }
            if (Min < 10) {
                Min = "0" + Min;
            }
            if (Sec < 10) {
                Sec = "0" + Sec;
            }
            var aTime = Hour + ":" + Min; 
            document.getElementById("nowTime").innerHTML = Hour + ":" + Min + ":" + Sec;
            
        }
        setInterval(setNowTime, 1000);

        const playAlertSound = () => {
        var now = new Date();
            var Hour = now.getHours();
            var Min = now.getMinutes();
            var Sec = now.getSeconds();
            if (Hour < 10) {
                Hour = "0" + Hour;
            }
            if (Min < 10) {
                Min = "0" + Min;
            }
            if (Sec < 10) {
                Sec = "0" + Sec;
            }
            var aTime = Hour + ":" + Min; 
            document.getElementById("nowTime").innerHTML = Hour + ":" + Min + ":" + Sec;
            
            var elem = document.getElementById(aTime);
            if (elem != null) {
            console.log('見つかった！');
                play();
            }
        }
        
        setInterval(playAlertSound, 60000);


</script>